@import "../abstracts/mixins";
@import "../abstracts/variables";

.icon__container{
    width: 1.3rem;
    height: .9rem;
    position: relative;
}
.accordion__items{
    border-bottom: 1px solid $Light-grayish-blue;
    margin: .5rem 0;
    .btn{
      @include button;
    }
    .btn:hover{
        color: $Soft-red;
    }
}
.accordion__ans{
    visibility: hidden;
    height: 0;
}
.accordion__ans__visible{
    visibility: visible;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.icon__container__active{
    @extend .icon__container;
    transform: rotate(180deg);
}
.btn__active{
    @include button;
    font-weight: bold;
    color: black;
}
